/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* bootstrap icons */

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Zeyada&display=swap");
/* google fonts */

/* 
font-family: 'Ubuntu', sans-serif;
font-family: 'Zeyada', cursive;
*/

body,
html {
  padding: 0 !important;
  margin: 0 !important;
  scroll-behavior: smooth !important;
  min-height: 92vh !important;
  background-color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
}

nav,
footer {
  background-color: #e3f2fd;
}

footer p {
  margin-top: 1rem;
  font-weight: lighter;
  font-size: medium;
}

#app {
  min-height: 92vh;
  background-color: white;
}

#admin-card {
  margin: 0 auto;
}

#card-signin {
  width: 50%;
  margin: 3rem auto;
}

.go-back {
  width: fit-content;
  margin: 0.5rem auto;
}

.site-alerts {
  position: fixed;
  bottom: 2rem;
  width: 50%;
  margin: auto;
  right: 2rem;
}
