{% extends 'base.html' %}

<!-- title -->
{% block title %} Admin {% endblock %}
<!-- title -->

<!-- body -->
{% block body %}
<!-- navbar -->
{% include 'navbar.html' %}
<!-- navbar -->

<!-- content -->
<div id="app" class="container-fluid">
  <div class="container py-5">
    <div class="my-3 mx-auto">{% include 'notifications.html' %}</div>
    <div class="card shadow" id="admin-card">
      <img
        src="https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="card image"
        class="card-img-top"
      />
      <div class="card-body text-center">
        <h4 class="card-title">App Database Models</h4>
        <hr />
        <a href="" class="card-link">Users model</a>
        <a href="" class="card-link">Products model</a>
        <a href="" class="card-link">Orders model</a>
      </div>
    </div>
  </div>
</div>
<!-- content -->

<!-- footer -->
{% include 'footer.html' %}
<!-- footer -->
{% endblock %}
<!-- body -->
