{% extends 'base.html' %}

<!-- title -->
{% block title %} Admin {% endblock %}
<!-- title -->

<!-- body -->
{% block body %}
<!-- navbar -->
{% include 'navbar.html' %}
<!-- navbar -->

<!-- content -->
<div id="app" class="container-fluid">
  <div class="container py-5">
    <div class="my-3 mx-auto">{% include 'notifications.html' %}</div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          Home
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Profile
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#contact"
          type="button"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
        >
          Contact
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade mt-3 px-3 show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
        recusandae amet porro aliquid dolore voluptatem minima quas repellat
        dolor ducimus impedit, nobis quam, iure tempore cupiditate ullam ab
        aperiam ipsum.
      </div>
      <div
        class="tab-pane fade mt-3 px-3"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, doloribus.
        Sapiente minima error accusamus nam neque provident odio ad, vitae quasi
        earum illum natus quisquam modi placeat at eum harum?
      </div>
      <div
        class="tab-pane fade mt-3 px-3"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
        blanditiis mollitia molestias qui voluptas earum harum magnam molestiae,
        rerum nemo. Ut cupiditate sequi obcaecati ea pariatur impedit officiis
        sed vero.
      </div>
    </div>
  </div>
</div>
<!-- content -->

<!-- footer -->
{% include 'footer.html' %}
<!-- footer -->
{% endblock %}
<!-- body -->
