{% extends 'base.html' %}

<!-- title -->
{% block title %} Image to Art {% endblock %}
<!-- title -->

<!-- body -->
{% block body %}
<!-- navbar -->
{% include 'navbar.html' %}
<!-- navbar -->

<!-- content -->

<div id="app" class="container-fluid">
  <div class="container">
    <h1>Image to art</h1>
  </div>
</div>

<!-- notifications -->
<div class="site-alerts">{% include 'notifications.html' %}</div>
<!-- notifications -->

<!-- content -->

<!-- modals -->
{% include 'site/app/modals.html' %}
<!-- modals -->

<!-- footer -->
{% include 'footer.html' %}
<!-- footer -->
{% endblock %}
<!-- body -->
