<footer class="pt-5 container-fluid">
  <div class="container">
    <div class="d-flex justify-content-between flex-wrap">
      <div>
        <h1 style="font-size: 80px">
          bio<span class="text-danger">V</span>oid
        </h1>
      </div>
      <div>
        <h4>Services</h4>
        <div class="d-flex flex-column">
          <a href="{{ url_for('site.generate_art') }}">Text to AI art</a>
          <a href="{{ url_for('site.photo_to_art') }}">Image to AI art</a>
          <a href="{{ url_for('site.image_variation') }}">AI image variation</a>
        </div>
      </div>
      <div>
        <h4>Resources</h4>
        <div class="d-flex flex-column">
          <a href="{{ url_for('site.pricing') }}">Pricing</a>
          <a href="{{ url_for('site.contacts') }}">Contacts</a>
        </div>
      </div>
      <div>
        <h4>Legal</h4>
        <div class="d-flex flex-column">
          <a href="">Privacy policy</a>
          <a href="">Terms & conditions</a>
        </div>
      </div>
    </div>
    <div
      class="d-flex justify-content-between flex-wrap align-items-center mt-5"
    >
      <p>
        &copy; 2023
        <a href="https://freedomloisa.netlify.app/">Freedom Loisa</a>. All
        rights reserved.
      </p>
      <div class="d-flex">
        <a
          href="https://www.linkedin.com/in/loisa-kitakaya-37ba99212/"
          class="text-primary mx-3 fs-5"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a href="https://github.com/LoisaKitakaya" class="text-dark fs-5"
          ><i class="bi bi-github"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
