{% extends 'base.html' %}

<!-- title -->
{% block title %} Home {% endblock %}
<!-- title -->

<!-- body -->
{% block body %}
<div class="card shadow" id="home-card">
  <img
    src="https://images.pexels.com/photos/325153/pexels-photo-325153.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="card image"
    class="card-img-top"
  />
  <div class="card-body text-center">
    <h4 class="card-title">
      Welcome to bio<span class="text-danger">V</span>oid
    </h4>
    <hr />
    <a
      href="{{ url_for('core.admin') }}"
      class="btn btn-sm btn-dark container-fluid mb-3"
      >Manage site</a
    >
    <a href="" class="btn btn-sm btn-success container-fluid">Go to site</a>
  </div>
</div>
{% endblock %}
<!-- body -->
