{% extends 'base.html' %}

<!-- title -->
{% block title %} Home {% endblock %}
<!-- title -->

<!-- body -->
{% block body %}
<div class="card shadow" id="home-card">
  <img
    src="https://images.pexels.com/photos/325153/pexels-photo-325153.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="card image"
    class="card-img-top"
  />
  <div class="card-body text-center">
    <h4 class="card-title">My Shop Admin Panel</h4>
    <hr />
    <a href="" class="card-link">Manage store</a>
    <a href="" class="card-link">Manage app API</a>
    <a href="" class="card-link">Cloudinary storage</a>
    <a href="" class="card-link">View store site</a>
  </div>
</div>
{% endblock %}
<!-- body -->
